<div class="queue-panel">
  <h2>Queue</h2>
  <div class="queue-list">
    <div 
      *ngFor="let song of songs; let i = index"
      class="queue-item"
      [class.active]="isCurrentSong(i)"
      (click)="onSongSelect(i)"
    >
      <img 
        [src]="song.albumArt" 
        [alt]="song.title"
        class="queue-album-art"
      >
      <div class="queue-song-info">
        <div class="queue-song-title">{{ song.title }}</div>
        <div class="queue-song-artist">{{ song.artist }}</div>
      </div>
      <div class="queue-duration" *ngIf="song.duration">
        {{ formatTime(song.duration) }}
      </div>
    </div>
  </div>
</div>
